body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(113, 55, 133);
    /* * điều chỉnh kích cỡ khi thu thỏ, phóng to */
    display: flex;
    /* * kết hợp với display:flex để căn giữa chiều ngang */
    justify-content: center;
    /* * kết hợp với 2 cái trên để canh giữa khung hình */
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box{
    background-color: aliceblue;
    padding: 20px;
    /* * bo góc */
    border-radius: 20px;
    width: 400px;
    text-align: center;
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
}

button{
    padding: 8px 15px;
    font-size: 16px;
    /* * đổi con trỏ chuột thành bàn tay */
    cursor: pointer;
    background-color: #18a980;
    /* * màu chữ */
    color: wheat;
    border: none;
    border-radius: 4px;
    margin: 5px;
}

button:hover{
    background-color: rgb(45, 135, 105);
}

ul {
    padding-left: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: wheat;
}

li button{
    background-color: #e2613d;
}

li button:hover{
    background-color: #c0382b;
}

button:focus{
    outline: 3px solid #4CAF50;
}
li button:focus{
    outline: 3px groove sandybrown;
}
